<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>CVIT</title>

	<!-- font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=vietnamese" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&amp;subset=vietnamese" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="../assets/css/style.css">
</head> <!-- end head -->
<body class="edit-cv">
	<div class="fix-phai">
		<a id="toTop" class="btn len-tren"><i class="fa fa-chevron-up"></i></a>
		<!-- <a href="" class="btn xuong-duoi"><i class="fa fa-chevron-down"></i></a> -->
	</div>
	<div class="container-fluid phan-1">
		<div class="update-anhbia">
			<form>
				<div class="form-group">
					<label for="exampleFormControlFile1"><i class="fa fa-camera"></i> Cập nhật ảnh bìa</label>
					<input type="file" class="form-control-file" id="exampleFormControlFile1">
				</div>
			</form>
		</div> <!-- end update-anhbia -->
		<img src="../assets/img/3.jpg" alt="" class="layer-1">
		<div class="layer-2"></div>
		<div class="layer-3">
			<i class="fa fa-graduation-cap" style="font-size:80px;"></i>
			<h2><input type="text" value="Lê Thị Diễm Phượng"></h2>

			<h1 class="edit-cn">
				<span class="edit-sothich edit-colortext">
					<span class="td">Thay đổi màu chữ</span>
					<span class="color color-blue"></span>
					<span class="color color-red"></span>
					<span class="color color-green"></span>
					<span class="color color-violet"></span>
				</span> <!-- end edit-colortext -->
				<input type="text" value="Kỹ thuật phần mềm" class="item-edit-cn">
			</h1>
			<p><textarea name="">Tôi là một chuyên gia tự do hoàn toàn tự do Sáng tạo Giao diện người dùng Nhà thiết kế và Nhà phát triển Liên quan với thiết kế web mới nhất và công nghệ là tuyệt vời cảm thấy liên lạc với sáng tạo.</textarea>
			</p>

		</div>
	</div> <!-- hết phan-1 -->
	<div class="phan-2">
		<div class="container">
			<div class="row">
				<div class="col-md-12 tieu-de">
					<h2>Giới thiệu về tôi</h2>
				</div>
				<div class="col-md-5 anh">
					<div class="khung-anh">
						<div class="update-anhbia update-avatar">
							<form>
								<div class="form-group">
									<label for="exampleFormControlFile1"><i class="fa fa-camera"></i> Cập nhật ảnh đại diện</label>
									<input type="file" class="form-control-file" id="exampleFormControlFile1">
								</div>
							</form>
						</div> <!-- end update-avatar -->
						<img src="../assets/img/2.png" alt="">
					</div>

				</div>
				<div class="col-md-7 content">
					<p><span>Họ và tên:</span><small class="ho-ten"><input type="text" value="Lê Thị Diễm Phượng"></small></p>
					<p>
						<span>Ngày sinh:</span>
						<input class="form-control" type="date" value="2011-08-19" id="example-datetime-local-input">
					</p>
					<p><span>Giới tính:</span>
						<span class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
							<label class="form-check-label" for="inlineRadio1">Nam</label>
						</span>
						<span class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
							<label class="form-check-label" for="inlineRadio2">Nữ</label>
						</span>
					</p>
					<p><span>Địa chỉ:</span><input type="text" value="389 - An Hòa - Ninh Kiều - Cần Thơ"></p>
					<p><span>Quốc tịch:</span><input type="text" value="VIỆT NAM"></p>
					<p><span>Phone:	</span><input type="text" value="01676404446"></p>
					<p><span>Email:</span><input type="email" value="ltdphuong@gmail.com"></p>
					<p><span>Website:</span><input type="text" value="https://www.facebook.com/lethidiemphuong0197"></p>
				</div>
			</div>
		</div>
	</div> <!-- hết phan-2 -->
	<div id="particles-js" class="phan-3">
		<div class="container noflow">
			<div class="row">
				<div class="col-md-6">
					<div class="card hoc-van">
						<div class="card-header ">
							Trình độ học vấn
						</div>
						<div class="card-body item-hoc-van">
							<div class="mot-field border-edit">
								<div class="edit-sothich">
									<a class="btn btn-outline-secondary">
										<i class="fa fa-caret-down"></i>
									</a>
									<a class="btn btn-outline-secondary">
										<i class="fa fa-caret-up"></i>
									</a>
									<a class="btn btn-success text-white add">+ Thêm</a> 
									<!-- <a class="btn btn-danger text-white remove">- Xoá</a> -->
								</div> <!-- end edit-sothich -->
								<div class="nam"><input type="text" value="2015 - 2019"></div>
								<div class="noidung">
									<p><h6 class="td">
										<input type="text" value="Đại học KT-CN Cần Thơ">
									</h6>
								</p>
								<p>
									<textarea name="">Tốt nghiệp loại Xuất sắc, điểm trung bình 9.0</textarea>
								</p>
							</div>
						</div> <!-- end 1 field -->
					</div>
				</div>
			</div> <!-- end 1 card -->

			<div class="col-md-6">
				<div class="card chung-chi">
					<div class="card-header ">
						Chứng chỉ
					</div>
					<div class="card-body item-chung-chi">
						<div class="mot-field border-edit">
							<div class="edit-sothich">
								<a class="btn btn-outline-secondary">
									<i class="fa fa-caret-down"></i>
								</a>
								<a class="btn btn-outline-secondary">
									<i class="fa fa-caret-up"></i>
								</a>
								<a class="btn btn-success text-white add">+ Thêm</a> 
								<!-- <a class="btn btn-danger text-white remove">- Xoá</a> -->
							</div> <!-- end edit-sothich -->
							<div class="nam"><input type="text" value="2015"></div>
							<div class="noidung">
								<p>
									<textarea name="">Chứng chỉ Tin học căn bản</textarea>
								</p>
							</div>
						</div> <!-- end 1 field -->

					</div>
				</div>
			</div> <!-- end 1 card -->
			<div class="col-md-6">
				<div class="card giai-thuong">
					<div class="card-header ">
						Giải thưởng
					</div>
					<div class="card-body item-giai-thuong">
						<div class="mot-field border-edit">
							<div class="edit-sothich">
								<a class="btn btn-outline-secondary">
									<i class="fa fa-caret-down"></i>
								</a>
								<a class="btn btn-outline-secondary">
									<i class="fa fa-caret-up"></i>
								</a>
								<a class="btn btn-success text-white add">+ Thêm</a> 
								<!-- <a class="btn btn-danger text-white remove">- Xoá</a> -->
							</div> <!-- end edit-sothich -->
							<div class="nam"><input type="text" value="2017"></div>
							<div class="noidung">
								<p>
									<textarea name="">Học bổng học tập (Loại giỏi)</textarea>	
								</p>
							</div>
						</div> <!-- end 1 field -->

					</div>
				</div>
			</div> <!-- end 1 card -->
			<div class="col-md-6">
				<div class="card hoat-dong">
					<div class="card-header ">
						Hoạt động
					</div>
					<div class="card-body item-hoat-dong">
						<div class="mot-field border-edit">
							<div class="edit-sothich">
								<a class="btn btn-outline-secondary">
									<i class="fa fa-caret-down"></i>
								</a>
								<a class="btn btn-outline-secondary">
									<i class="fa fa-caret-up"></i>
								</a>
								<a class="btn btn-success text-white add">+ Thêm</a> 
								<!-- <a class="btn btn-danger text-white remove">- Xoá</a> -->
							</div> <!-- end edit-sothich -->
							<div class="nam"><input type="text" value="Hè 2015"></div>
							<div class="noidung">
								<p>
									<h6 class="td"><input type="text" value="Nhóm tình nguyện hè"></h6>
								</p>
								<p>
									<textarea name="">Tham gia chiến dịch tình nguyện Mùa Hè Xanh</textarea>
								</p>
							</div>
						</div> <!-- end 1 field -->

					</div>
				</div>
			</div> <!-- end 1 card -->

		</div>
		<script src='https://cldup.com/S6Ptkwu_qA.js'></script>
		<script  src="../assets/js/particle.js"></script>
	</div>
</div><!-- hết phan-3 -->
<div class="phan-4">
	<div class="container">
		<div class="row">
			<div class="ke-doc">
				<!-- <div class="hinh-tron top"></div> -->
				<div class="hinh-tron mid-1"></div>
				<div class="hinh-tron mid-2"></div>
				<div class="hinh-tron mid-3"></div>
				<!-- <div class="hinh-tron bottom"></div> -->
			</div>

			<div class="col-md-6 so-thich">
				<div class="card w-75 float-right mr-5">
					<div class="hinh-vuong"></div>
					<div class="card-body">
						<h5 class="card-title">SỞ THÍCH</h5>

						<div class="noidung item-so-thich">
							<div class="mot-tin border-edit">
								<div class="edit-sothich">
									<a class="btn btn-outline-secondary">
										<i class="fa fa-caret-down"></i>
									</a>
									<a class="btn btn-outline-secondary">
										<i class="fa fa-caret-up"></i>
									</a>
									<a class="btn btn-success text-white add">+ Thêm</a> 
									<!-- <a class="btn btn-danger text-white remove">- Xoá</a> -->
								</div> <!-- end edit-sothich -->
								<i class="fa fa-check-circle"></i>
								<div class="form-group fl td">
									<div class="icon-map"><i class="fa fa-heart"></i></div>
									<select id="inputState" class="form-control">
										<option selected>Chọn sở thích</option>
										<option>Đọc sách</option>
										<option>Nghe nhạc</option>
										<option>Xem phim</option>
									</select>
								</div>
								<span class="td stk"><input type="text" placeholder="Sở thích khác.." value=""></span> 
							</div> <!-- hết mot-tin -->
						</div>

					</div>
				</div>
			</div> <!-- hết so-thich -->
			<div class="col-md-6 ky-nang">

				<div class="card w-75 float-left ml-5">
					<div class="hinh-vuong"></div>
					<div class="card-body">
						<h5 class="card-title">KỸ NĂNG</h5>

						<div class="noidung item-ky-nang">
							<div class="mot-tin border-edit">
								<div class="edit-sothich">
									<a class="btn btn-outline-secondary">
										<i class="fa fa-caret-down"></i>
									</a>
									<a class="btn btn-outline-secondary">
										<i class="fa fa-caret-up"></i>
									</a>
									<a class="btn btn-success text-white add">+ Thêm</a> 
									<!-- <a class="btn btn-danger text-white remove">- Xoá</a> -->
								</div> <!-- end edit-sothich -->
								<i class="fa fa-check-circle"></i>
								<div class="form-group fl td">
									<div class="icon-map"><i class="fa fa-graduation-cap"></i></div>
									<select id="inputState" class="form-control">
										<option selected>Chọn kỹ năng</option>
										<option>Thuyết trình</option>
										<option>Giao tiếp</option>
										<option>Tiếng Anh</option>
										<option>HTML</option>
										<option>CSS</option>
										<option>Javascript</option>
										<option>PHP</option>
										<option>MYSQL</option>
										<option>JAVA</option>
										<option>C#</option>
										<option>C++</option>
										<option>Wordpress</option>		
									</select>
								</div>
								<span class="td stk"><input type="text" placeholder="Kỹ năng khác.." value=""></span> 
							</div> <!-- hết mot-tin -->
						</div> 

					</div>
				</div>
			</div>
		</div> <!-- hết so-thich -->
		<div class="col-md-6 kinh-nghiem ">
			<div class="card w-75 float-right mr-5">
				<div class="hinh-vuong"></div>
				<div class="card-body">
					<h5 class="card-title">KINH NGHIỆM</h5>
					<div class="noidung item-kinh-nghiem">
						<div class="mot-tin border-edit">
							<div class="edit-sothich">
								<a class="btn btn-outline-secondary">
									<i class="fa fa-caret-down"></i>
								</a>
								<a class="btn btn-outline-secondary">
									<i class="fa fa-caret-up"></i>
								</a>
								<a class="btn btn-success text-white add">+ Thêm</a> 
								<!-- <a class="btn btn-danger text-white remove">- Xoá</a> -->
							</div> <!-- end edit-sothich -->
							<span class="nam"><input type="text" value="2017"></span>
							<span class="td">
								<input type="text" value="Đồ án Kỹ thuật  phần mềm 2">
							</span>
							<span class="chitiet">
								<textarea name="">Tìm hiểu công nghệ Ajax, MongoBD, xây dựng hệ thống website Quản lý CV.</textarea>
							</span>
						</div> <!-- hết mot-tin -->

					</div>
				</div>
			</div>
		</div> <!-- hết kinh-nghiem -->
	</div>
</div>
</div> <!-- hết phan-4 -->
<div class="phan-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12 tieu-de">
				<h2>DỰ ÁN</h2>
				<h5><input type="text" value="Rainway Group"></h5>
				<span><input type="text" value="(2014 - 2015)"></span>
			</div>
			<div class="col-md-12">
				<table class="table table-bordered w-75 m-auto">
					<tbody>
						<tr>
							<th>Mô tả</th>
							<td>
								<textarea name="">- Ứng dụng mobile giúp mọi người đặt vé nhanh chóng bất kì lúc nào, bất kì nơi đâu.
								</textarea>
							</p>
						</td>
					</tr> <!-- hết 1 row -->
					<tr>
						<th>Số lượng thành viên</th>
						<td><input type="text" value="8"></td>
					</tr> <!-- hết 1 row -->
					<tr>
						<th>Vị trí trong công việc</th>
						<td><input type="text" value="- Lập trình viên"></td>
					</tr> <!-- hết 1 row -->
					<tr>
						<th>Vai trò trong dự án</th>
						<td>
							<textarea name="">- Phân tích và thiết kế hệ thống, phát triển module, tối ưu code, sửa lỗi
							</textarea>
						</p>
					</td>
				</tr> <!-- hết 1 row -->
				<tr>
					<th>Công nghệ sử dụng</th>
					<td>
						<textarea name="">- Android Studio 1.4, Java, Android 4.0, Google Could Message.
						</textarea>
					</td>
				</tr> <!-- hết 1 row -->
			</tbody>
		</table>
	</div>

	<div class="col-md-12">
		<center>
			<a href="" class="btn btn-info" >Cập nhật CV</a>
		</center>					
	</div>

</div>
</div>
</div> <!-- 5 -->
<script>
	$(document).ready(function () {
		$(document).on('click','.add', function(){
			$(this).parents('.item-hoc-van').append(`
				<div class="mot-field border-edit">
				<div class="edit-sothich">
				<a class="btn btn-outline-secondary">
				<i class="fa fa-caret-down"></i>
				</a>
				<a class="btn btn-outline-secondary">
				<i class="fa fa-caret-up"></i>
				</a>
				<a class="btn btn-success text-white add">+ Thêm</a> 
				<a class="btn btn-danger text-white remove">- Xoá</a>
				</div> <!-- end edit-sothich -->
				<div class="nam"><input type="text" value="2015 - 2019"></div>
				<div class="noidung">
				<p><h6 class="td">
				<input type="text" value="Đại học KT-CN Cần Thơ">
				</h6>
				</p>
				<p>
				<textarea name="">Tốt nghiệp loại Xuất sắc, điểm trung bình 9.0</textarea>
				</p>
				</div>
				</div> <!-- end 1 field -->
				`);
			$(this).parents('.item-chung-chi').append(`
				<div class="mot-field border-edit">
				<div class="edit-sothich">
				<a class="btn btn-outline-secondary">
				<i class="fa fa-caret-down"></i>
				</a>
				<a class="btn btn-outline-secondary">
				<i class="fa fa-caret-up"></i>
				</a>
				<a class="btn btn-success text-white add">+ Thêm</a> 
				<a class="btn btn-danger text-white remove">- Xoá</a>
				</div> <!-- end edit-sothich -->
				<div class="nam"><input type="text" value="2015"></div>
				<div class="noidung">
				<p>
				<textarea name="">Chứng chỉ Tin học căn bản</textarea>
				</p>
				</div>
				</div> <!-- end 1 field -->
				`);
			$(this).parents('.item-giai-thuong').append(`
				<div class="mot-field border-edit">
				<div class="edit-sothich">
				<a class="btn btn-outline-secondary">
				<i class="fa fa-caret-down"></i>
				</a>
				<a class="btn btn-outline-secondary">
				<i class="fa fa-caret-up"></i>
				</a>
				<a class="btn btn-success text-white add">+ Thêm</a> 
				<a class="btn btn-danger text-white remove">- Xoá</a>
				</div> <!-- end edit-sothich -->
				<div class="nam"><input type="text" value="2017"></div>
				<div class="noidung">
				<p>
				<textarea name="">Học bổng học tập (Loại giỏi)</textarea>	
				</p>
				</div>
				</div> <!-- end 1 field -->
				`);
			$(this).parents('.item-hoat-dong').append(`
				<div class="mot-field border-edit">
				<div class="edit-sothich">
				<a class="btn btn-outline-secondary">
				<i class="fa fa-caret-down"></i>
				</a>
				<a class="btn btn-outline-secondary">
				<i class="fa fa-caret-up"></i>
				</a>
				<a class="btn btn-success text-white add">+ Thêm</a> 
				<a class="btn btn-danger text-white remove">- Xoá</a>
				</div> <!-- end edit-sothich -->
				<div class="nam"><input type="text" value="Hè 2015"></div>
				<div class="noidung">
				<p>
				<h6 class="td"><input type="text" value="Nhóm tình nguyện hè"></h6>
				</p>
				<p>
				<textarea name="">Tham gia chiến dịch tình nguyện Mùa Hè Xanh</textarea>
				</p>
				</div>
				</div> <!-- end 1 field -->
				`);
			$(this).parents('.item-so-thich').append(`
				<div class="mot-tin border-edit">
				<div class="edit-sothich">
				<a class="btn btn-outline-secondary">
				<i class="fa fa-caret-down"></i>
				</a>
				<a class="btn btn-outline-secondary">
				<i class="fa fa-caret-up"></i>
				</a>
				<a class="btn btn-success text-white add">+ Thêm</a> 
				<a class="btn btn-danger text-white remove">- Xoá</a>
				</div> <!-- end edit-sothich -->
				<i class="fa fa-check-circle"></i>
				<div class="form-group fl td">
				<div class="icon-map"><i class="fa fa-heart"></i></div>
				<select id="inputState" class="form-control">
				<option selected>Chọn sở thích</option>
				<option>Đọc sách</option>
				<option>Nghe nhạc</option>
				<option>Xem phim</option>
				</select>
				</div>
				<span class="td stk"><input type="text" placeholder="Sở thích khác.." value=""></span> 
				</div> <!-- hết mot-tin -->
				`);
			$(this).parents('.item-ky-nang').append(`
				<div class="mot-tin border-edit">
				<div class="edit-sothich">
				<a class="btn btn-outline-secondary">
				<i class="fa fa-caret-down"></i>
				</a>
				<a class="btn btn-outline-secondary">
				<i class="fa fa-caret-up"></i>
				</a>
				<a class="btn btn-success text-white add">+ Thêm</a> 
				<a class="btn btn-danger text-white remove">- Xoá</a>
				</div> <!-- end edit-sothich -->
				<i class="fa fa-check-circle"></i>
				<div class="form-group fl td">
				<div class="icon-map"><i class="fa fa-graduation-cap"></i></div>
				<select id="inputState" class="form-control">
				<option selected>Chọn kỹ năng</option>
				<option>Thuyết trình</option>
				<option>Giao tiếp</option>
				<option>Tiếng Anh</option>
				<option>HTML</option>
				<option>CSS</option>
				<option>Javascript</option>
				<option>PHP</option>
				<option>MYSQL</option>
				<option>JAVA</option>
				<option>C#</option>
				<option>C++</option>
				<option>Wordpress</option>		
				</select>
				</div>
				<span class="td stk"><input type="text" placeholder="Kỹ năng khác.." value=""></span> 
				</div> <!-- hết mot-tin -->
				`);
			$(this).parents('.item-kinh-nghiem').append(`
				<div class="mot-tin border-edit">
				<div class="edit-sothich">
				<a class="btn btn-outline-secondary">
				<i class="fa fa-caret-down"></i>
				</a>
				<a class="btn btn-outline-secondary">
				<i class="fa fa-caret-up"></i>
				</a>
				<a class="btn btn-success text-white add">+ Thêm</a> 
				<a class="btn btn-danger text-white remove">- Xoá</a>
				</div> <!-- end edit-sothich -->
				<span class="nam"><input type="text" value="2017"></span>
				<span class="td">
				<input type="text" value="Đồ án Kỹ thuật  phần mềm 2">
				</span>
				<span class="chitiet">
				<textarea name="">Tìm hiểu công nghệ Ajax, MongoBD, xây dựng hệ thống website Quản lý CV.</textarea>
				</span>
				</div> <!-- hết mot-tin -->
				`);
		})

$(document).on('click','.remove', function(){
	$(this).parents('.border-edit').remove();
})
$(document).on('click','.color-blue', function(){
	$(this).parents('.edit-cn').addClass('text-blue').removeClass("text-red").removeClass("text-green").removeClass("text-violet");
	$('.item-edit-cn').addClass('text-blue').removeClass("text-red").removeClass("text-green").removeClass("text-violet");
})
$(document).on('click','.color-red', function(){
	$(this).parents('.edit-cn').addClass('text-red').removeClass("text-blue").removeClass("text-green").removeClass("text-violet");
	$('.item-edit-cn').addClass('text-red').removeClass("text-blue").removeClass("text-green").removeClass("text-violet");
})
$(document).on('click','.color-green', function(){
	$(this).parents('.edit-cn').addClass('text-green').removeClass("text-blue").removeClass("text-red").removeClass("text-violet");
	$('.item-edit-cn').addClass('text-green').removeClass("text-blue").removeClass("text-red").removeClass("text-violet");
})
$(document).on('click','.color-violet', function(){
	$(this).parents('.edit-cn').addClass('text-violet').removeClass("text-blue").removeClass("text-red").removeClass("text-green");
	$('.item-edit-cn').addClass('text-violet').removeClass("text-blue").removeClass("text-red").removeClass("text-green");
})
})
</script>
</body>
</html>