	<!DOCTYPE html>
	<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>CVIT</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

		<link rel="stylesheet" href="../assets/css/style.css">
	</head>
	<body>
		<div class="fix-phai">
			<a class="btn len-tren"><i class="fa fa-chevron-up"></i></a>
			<!-- <a href="" class="btn xuong-duoi"><i class="fa fa-chevron-down"></i></a> -->
		</div>
		<div class="container-fluid phan-1">
			<img src="../assets/img/3.jpg" alt="" class="layer-1">
			<div class="layer-2"></div>
			<div class="layer-3">
				<i class="fa fa-graduation-cap" style="font-size:80px;"></i>
				<h2><input type="text" value="Lê Thị Diễm Phượng"></h2>
				<h1><input type="text" value="Kỹ thuật phần mềm"></h1>
				<p><textarea name="">Tôi là một chuyên gia tự do hoàn toàn tự do Sáng tạo Giao diện người dùng Nhà thiết kế và Nhà phát triển Liên quan với thiết kế web mới nhất và công nghệ là tuyệt vời cảm thấy liên lạc với sáng tạo.</textarea>
				</p>

			</div>
		</div> <!-- hết phan-1 -->
		<div class="phan-2">
			<div class="container">
				<div class="row">
					<div class="col-md-12 tieu-de">
						<h2>Giới thiệu về tôi</h2>
					</div>
					<div class="col-md-5 anh">
						<div class="khung-anh">

							<img src="../assets/img/2.png" alt="">
						</div>
						
					</div>
					<div class="col-md-7 content">
						<p><span>Họ và tên:</span><small class="ho-ten"><input type="text" value="Lê Thị Diễm Phượng"></small></p>
						<p>
							<span>Ngày sinh:</span>
							<input class="form-control" type="date" value="2011-08-19" id="example-datetime-local-input">
						</p>
						<p><span>Giới tính:</span>
							<span class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
								<label class="form-check-label" for="inlineRadio1">Nam</label>
							</span>
							<span class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
								<label class="form-check-label" for="inlineRadio2">Nữ</label>
							</span>
						</p>
						<p><span>Địa chỉ:</span><input type="text" value="389 - An Hòa - Ninh Kiều - Cần Thơ"></p>
						<p><span>Quốc tịch:</span><input type="text" value="VIỆT NAM"></p>
						<p><span>Phone:	</span><input type="text" value="01676404446"></p>
						<p><span>Email:</span><input type="email" value="ltdphuong@gmail.com"></p>
						<p><span>Website:</span><input type="text" value="https://www.facebook.com/lethidiemphuong0197"></p>
					</div>
				</div>
			</div>
		</div> <!-- hết phan-2 -->
		<div class="phan-3">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="card hoc-van">
							<div class="card-header ">
								Trình độ học vấn
							</div>
							<div class="card-body item-ky-nang">
								<div class="mot-field border-edit wrap-item">
									<div class="edit-sothich">
										<a class="down btn btn-outline-secondary">
											<i class="fa fa-caret-down"></i>
										</a>
										<a class="btn btn-outline-secondary">
											<i class="fa fa-caret-up"></i>
										</a>
										<a class="btn btn-success text-white add">+ Thêm</a> 
										<a class="btn btn-danger text-white remove">- Xoá</a>
									</div> <!-- end edit-sothich -->
									<div class="nam"><input type="text" value="2015 - 2019"></div>
									<div class="noidung">
										<p><h6 class="td">
											<input type="text" value="Đại học KT-CN Cần Thơ">
										</h6>
									</p>
									<p>
										<textarea name="">Tốt nghiệp loại Xuất sắc, điểm trung bình 9.0</textarea>
									</p>
								</div>
							</div> <!-- end 1 field -->
						</div>
					</div>
				</div> <!-- end 1 card -->

				<div class="col-md-6">
					<div class="card chung-chi">
						<div class="card-header ">
							Chứng chỉ
						</div>
						<div class="card-body item-chung-chi">
							<div class="mot-field border-edit">
								<div class="edit-sothich">
									<a class="btn btn-outline-secondary">
										<i class="fa fa-caret-down"></i>
									</a>
									<a class="btn btn-outline-secondary">
										<i class="fa fa-caret-up"></i>
									</a>
									<a class="btn btn-success text-white add">+ Thêm</a> 
									<a class="btn btn-danger text-white remove">- Xoá</a>
								</div> <!-- end edit-sothich -->
								<div class="nam"><input type="text" value="2015"></div>
								<div class="noidung">
									<p>
										<textarea name="">Chứng chỉ Tin học căn bản</textarea>
									</p>
								</div>
							</div> <!-- end 1 field -->

						</div>
					</div>
				</div> <!-- end 1 card -->
				<div class="col-md-6">
					<div class="card giai-thuong">
						<div class="card-header ">
							Giải thưởng
						</div>
						<div class="card-body">
							<div class="mot-field border-edit">
								<div class="edit-sothich">
									<a class="btn btn-outline-secondary">
										<i class="fa fa-caret-down"></i>
									</a>
									<a class="btn btn-outline-secondary">
										<i class="fa fa-caret-up"></i>
									</a>
									<a class="btn btn-success text-white add">+ Thêm</a> 
									<a class="btn btn-danger text-white remove">- Xoá</a>
								</div> <!-- end edit-sothich -->
								<div class="nam"><input type="text" value="2017"></div>
								<div class="noidung">
									<p>
										<textarea name="">Học bổng học tập (Loại giỏi)</textarea>	
									</p>
								</div>
							</div> <!-- end 1 field -->

						</div>
					</div>
				</div> <!-- end 1 card -->
				<div class="col-md-6">
					<div class="card hoat-dong">
						<div class="card-header ">
							Hoạt động
						</div>
						<div class="card-body">
							<div class="mot-field border-edit">
								<div class="edit-sothich">
									<a class="btn btn-outline-secondary">
										<i class="fa fa-caret-down"></i>
									</a>
									<a class="btn btn-outline-secondary">
										<i class="fa fa-caret-up"></i>
									</a>
									<a class="btn btn-success text-white add">+ Thêm</a> 
									<a class="btn btn-danger text-white remove">- Xoá</a>
								</div> <!-- end edit-sothich -->
								<div class="nam"><input type="text" value="Hè 2015"></div>
								<div class="noidung">
									<p>
										<h6 class="td"><input type="text" value="Nhóm tình nguyện hè"></h6>
									</p>
									<p>
										<textarea name="">Tham gia chiến dịch tình nguyện Mùa Hè Xanh</textarea>
									</p>
								</div>
							</div> <!-- end 1 field -->

						</div>
					</div>
				</div> <!-- end 1 card -->

			</div>
		</div>
	</div><!-- hết phan-3 -->
	<div class="phan-4">
		<div class="container">
			<div class="row">
				<div class="ke-doc">
					<!-- <div class="hinh-tron top"></div> -->
					<div class="hinh-tron mid-1"></div>
					<div class="hinh-tron mid-2"></div>
					<div class="hinh-tron mid-3"></div>
					<!-- <div class="hinh-tron bottom"></div> -->
				</div>

				<div class="col-md-6 so-thich">
					<div class="card w-75 float-right mr-5">
						<div class="hinh-vuong"></div>
						<div class="card-body">
							<h5 class="card-title">SỞ THÍCH</h5>

							<div class="noidung">
								<div class="mot-tin border-edit">
									<div class="edit-sothich">
										<a class="btn btn-outline-secondary">
											<i class="fa fa-caret-down"></i>
										</a>
										<a class="btn btn-outline-secondary">
											<i class="fa fa-caret-up"></i>
										</a>
										<a class="btn btn-success text-white add">+ Thêm</a> 
										<a class="btn btn-danger text-white remove">- Xoá</a>
									</div> <!-- end edit-sothich -->
									<i class="fa fa-check-circle"></i>
									<div class="form-group fl td">
										<div class="icon-map"><i class="fa fa-heart"></i></div>
										<select id="inputState" class="form-control">
											<option selected>Chọn sở thích</option>
											<option>Đọc sách</option>
											<option>Nghe nhạc</option>
											<option>Xem phim</option>
										</select>
									</div>
									<span class="td stk"><input type="text" placeholder="Sở thích khác.." value=""></span> 
								</div> <!-- hết mot-tin -->
							</div>

						</div>
					</div>
				</div> <!-- hết so-thich -->
				<div class="col-md-6 ky-nang">

					<div class="card w-75 float-left ml-5">
						<div class="hinh-vuong"></div>
						<div class="card-body">
							<h5 class="card-title">KỸ NĂNG</h5>

							<div class="noidung item-kn">
								<div class="mot-tin border-edit">
									<div class="edit-sothich">
										<a class="btn btn-outline-secondary">
											<i class="fa fa-caret-down"></i>
										</a>
										<a class="btn btn-outline-secondary">
											<i class="fa fa-caret-up"></i>
										</a>
										<a class="btn btn-success text-white add">+ Thêm</a> 
										<a class="btn btn-danger text-white remove">- Xoá</a>
									</div> <!-- end edit-sothich -->
									<i class="fa fa-check-circle"></i>
									<div class="form-group fl td">
										<div class="icon-map"><i class="fa fa-graduation-cap"></i></div>
										<select id="inputState" class="form-control">
											<option selected>Chọn kỹ năng</option>
											<option>Thuyết trình</option>
											<option>Giao tiếp</option>
											<option>Tiếng Anh</option>
											<option>HTML</option>
											<option>CSS</option>
											<option>Javascript</option>
											<option>PHP</option>
											<option>MYSQL</option>
											<option>JAVA</option>
											<option>C#</option>
											<option>C++</option>
											<option>Wordpress</option>		
										</select>
									</div>
									<span class="td stk"><input type="text" placeholder="Kỹ năng khác.." value=""></span> 
								</div> <!-- hết mot-tin -->
							</div> <!-- hết mot-tin -->

						</div>
					</div>
				</div>
			</div> <!-- hết so-thich -->
			<div class="col-md-6 kinh-nghiem ">
				<div class="card w-75 float-right mr-5">
					<div class="hinh-vuong"></div>
					<div class="card-body">
						<h5 class="card-title">KINH NGHIỆM</h5>
						<div class="noidung">
							<div class="mot-tin border-edit">
								<div class="edit-sothich">
									<a class="btn btn-outline-secondary">
										<i class="fa fa-caret-down"></i>
									</a>
									<a class="btn btn-outline-secondary">
										<i class="fa fa-caret-up"></i>
									</a>
									<a class="btn btn-success text-white add">+ Thêm</a> 
									<a class="btn btn-danger text-white remove">- Xoá</a>
								</div> <!-- end edit-sothich -->
								<span class="nam"><input type="text" value="2017"></span>
								<span class="td">
									<input type="text" value="Đồ án Kỹ thuật  phần mềm 2">
								</span>
								<span class="chitiet">
									<textarea name="">Tìm hiểu công nghệ Ajax, MongoBD, xây dựng hệ thống website Quản lý CV.</textarea>
								</span>
							</div> <!-- hết mot-tin -->

						</div>
					</div>
				</div>
			</div> <!-- hết kinh-nghiem -->
		</div>
	</div>
</div> <!-- hết phan-4 -->
<div class="phan-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12 tieu-de">
				<h2>DỰ ÁN</h2>
				<h5><input type="text" value="Rainway Group"></h5>
				<span><input type="text" value="(2014 - 2015)"></span>
			</div>
			<div class="col-md-12">
				<table class="table table-bordered w-75 m-auto">
					<tbody>
						<tr>
							<th>Mô tả</th>
							<td>
								<p class="border-edit">
									<span class="edit-sothich">
										<a href="" class="btn btn-outline-secondary">
											<i class="fa fa-caret-down down"></i>
										</a>
										<a href="" class="btn btn-outline-secondary up">
											<i class="fa fa-caret-up"></i>
										</a>
										<a href="" class="btn btn-success add">+ Thêm</a> 
										<a href="" class="btn btn-danger remove">- Xoá</a>
									</span> <!-- end edit-sothich -->
									<textarea name="">- Ứng dụng mobile giúp mọi người đặt vé nhanh chóng bất kì lúc nào, bất kì nơi đâu.
									</textarea>
								</p>
							</td>
						</tr> <!-- hết 1 row -->
						<tr>
							<th>Số lượng thành viên</th>
							<td><input type="text" value="8"></td>
						</tr> <!-- hết 1 row -->
						<tr>
							<th>Vị trí trong công việc</th>
							<td><input type="text" value="Lập trình viên"></td>
						</tr> <!-- hết 1 row -->
						<tr>
							<th>Vai trò trong dự án</th>
							<td>
								<p class="border-edit">
									<span class="edit-sothich">
										<a href="" class="btn btn-outline-secondary down">
											<i class="fa fa-caret-down"></i>
										</a>
										<a href="" class="btn btn-outline-secondary up">
											<i class="fa fa-caret-up"></i>
										</a>
										<a href="" class="btn btn-success add">+ Thêm</a> 
										<a href="" class="btn btn-danger remove">- Xoá</a>
									</span> <!-- end edit-sothich -->
									<input type="text" value="- Phân tích và thiết kế hệ thống">
								</p>
								<p class="border-edit">
									<span class="edit-sothich">
										<a href="" class="btn btn-outline-secondary down">
											<i class="fa fa-caret-down"></i>
										</a>
										<a href="" class="btn btn-outline-secondary up">
											<i class="fa fa-caret-up"></i>
										</a>
										<a href="" class="btn btn-success add">+ Thêm</a> 
										<a href="" class="btn btn-danger remove">- Xoá</a>
									</span> <!-- end edit-sothich -->
									<input type="text" value="- Phát triển module">
								</p>
								<p class="border-edit">
									<span class="edit-sothich">
										<a href="" class="btn btn-outline-secondary">
											<i class="fa fa-caret-down"></i>
										</a>
										<a href="" class="btn btn-outline-secondary">
											<i class="fa fa-caret-up"></i>
										</a>
										<a href="" class="btn btn-success add">+ Thêm</a> 
										<a href="" class="btn btn-danger remove">- Xoá</a>
									</span> <!-- end edit-sothich -->
									<input type="text" value="- Tối ưu code">
								</p>
								<p class="border-edit">
									<span class="edit-sothich">
										<a href="" class="btn btn-outline-secondary">
											<i class="fa fa-caret-down"></i>
										</a>
										<a href="" class="btn btn-outline-secondary">
											<i class="fa fa-caret-up"></i>
										</a>
										<a href="" class="btn btn-success add">+ Thêm</a> 
										<a href="" class="btn btn-danger remove">- Xoá</a>
									</span> <!-- end edit-sothich -->
									<input type="text" value="- Sửa lỗi">
								</p>
							</td>
						</tr> <!-- hết 1 row -->
						<tr>
							<th>Công nghệ sử dụng</th>
							<td>
								<p class="border-edit">
									<span class="edit-sothich">
										<a href="" class="btn btn-outline-secondary">
											<i class="fa fa-caret-down"></i>
										</a>
										<a href="" class="btn btn-outline-secondary">
											<i class="fa fa-caret-up"></i>
										</a>
										<a href="" class="btn btn-success">+ Thêm</a> 
										<a href="" class="btn btn-danger">- Xoá</a>
									</span> <!-- end edit-sothich -->
									<input type="text" value="- Android Studio 1.4, Java, Android 4.0">
								</p>
								<p class="border-edit">
									<span class="edit-sothich">
										<a href="" class="btn btn-outline-secondary">
											<i class="fa fa-caret-down"></i>
										</a>
										<a href="" class="btn btn-outline-secondary">
											<i class="fa fa-caret-up"></i>
										</a>
										<a href="" class="btn btn-success">+ Thêm</a> 
										<a href="" class="btn btn-danger">- Xoá</a>
									</span> <!-- end edit-sothich -->
									<input type="text" value="- Google Could Message">
								</p>
							</td>
						</tr> <!-- hết 1 row -->
					</tbody>
				</table>
			</div>

			<div class="col-md-12">
				<center>
					<a href="" class="btn btn-info" >Cập nhật CV</a>
				</center>					
			</div>

		</div>
	</div>
</div> <!-- 5 -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
	$(document).ready(function () {
		$(document).on('click','.add', function(){
			$(this).parents('.item-ky-nang').append(`
				<div class="mot-field border-edit">
				<div class="edit-sothich">
				<a class="btn btn-outline-secondary">
				<i class="fa fa-caret-down"></i>
				</a>
				<a class="btn btn-outline-secondary">
				<i class="fa fa-caret-up"></i>
				</a>
				<a class="btn btn-success text-white add">+ Thêm</a> 
				<a class="btn btn-danger text-white remove">- Xoá</a>
				</div> <!-- end edit-sothich -->
				<div class="nam"><input type="text" value="2015 - 2019"></div>
				<div class="noidung">
				<p><h6 class="td">
				<input type="text" value="Đại học KT-CN Cần Thơ">
				</h6>
				</p>
				<p>
				<textarea name="">Tốt nghiệp loại Xuất sắc, điểm trung bình 9.0</textarea>
				</p>
				</div>
				</div> <!-- end 1 field -->
				`);
			$(this).parents('.item-chung-chi').append(`
				<div class="mot-field border-edit">
				<div class="edit-sothich">
				<a class="btn btn-outline-secondary">
				<i class="fa fa-caret-down"></i>
				</a>
				<a class="btn btn-outline-secondary">
				<i class="fa fa-caret-up"></i>
				</a>
				<a class="btn btn-success text-white add">+ Thêm</a> 
				<a class="btn btn-danger text-white remove">- Xoá</a>
				</div> <!-- end edit-sothich -->
				<div class="nam"><input type="text" value="2015"></div>
				<div class="noidung">
				<p>
				<textarea name="">Chứng chỉ Tin học căn bản</textarea>
				</p>
				</div>
				</div> <!-- end 1 field -->
				`);
		})
		
		$(document).on('click','.remove', function(){
			$(this).parents('.border-edit').remove();
		})
		
		$(document).on('click', '.down', function(){
			console.log($(this).parents('.wrap-item').next().html());
			$(this).parents('.wrap-item').next().after(
				'<div class="mot-field border-edit">' +
				$(this).parents('.wrap-item').html() +
				'</div>'
				)
			$(this).parents('.wrap-item').remove();
		})
		$('.len-tren').click(function(){
			$('body').animate({'scrollTop':0});
			return false;
		})
		
	})
</script>
</body>
</html>