<div class="sidebar">
	<div class="frame-out">
		<div class="col-md-12 tieude">
			<h2>Danh sách tin đã đăng</h2>
			<span class="kengang"></span>
		</div>
		<div class="col-md-12">
			<ul class="content">
				<li>
					<i class="fa fa-angle-double-right"></i>
					<a href="ti
					ntuyendung-ntd.html">
				Tuyển dụng Dev lương cao</a>
			</li> <!-- end mottin tuyen dung -->
			<li>
				<i class="fa fa-angle-double-right"></i>
				<a href="tintuyendung-ntd.html">
				Tuyển dụng Dev lương cao</a>
			</li> <!-- end mottin tuyen dung -->
			<li>
				<i class="fa fa-angle-double-right"></i>
				<a href="tintuyendung-ntd.html">
				Tuyển dụng Dev lương cao</a>
			</li> <!-- end mottin tuyen dung -->
			<li>
				<i class="fa fa-angle-double-right"></i>
				<a href="tintuyendung-ntd.html">
				Tuyển dụng Dev lương cao</a>
			</li> <!-- end mottin tuyen dung -->
			<li>
				<i class="fa fa-angle-double-right"></i>
				<a href="tintuyendung-ntd.html">
				Tuyển dụng Dev lương cao</a>
			</li> <!-- end mottin tuyen dung -->
			<li>
				<i class="fa fa-angle-double-right"></i>
				<a href="tintuyendung-ntd.html">
				Tuyển dụng Dev lương cao</a>
			</li> <!-- end mottin tuyen dung -->
		</ul>
		<div class="btn-about">
			<a  href="dstintuyendung-ntd.html">
				Xem chi tiết <i class="fa fa-angle-double-right"></i></a>
			</div>
		</div>
	</div> <!-- end sidebar -->
</div>