*{
	padding: 0;
	margin: 0;
}

.tab-content span {
    font-size: 14px;
    color: #666;
    margin-right: 16px;
}

.tab-content a.btn {
    padding: 5px;
    width: 17%;
}

a.btn.btn-primary.button.btn-block {
    width: 20%;
    margin-bottom: 0px;
}

p.nd {
    color: #666;
}

nav > .nav.nav-tabs{
	border: none;color:#fff;
	border-radius:0;
	width: 70%;
	margin: auto;
}
nav > div a.nav-item.nav-link
{
	font-size: 16px;
	border: none;
	padding: 14px 25px;
	color: rgb(0, 0, 0,0.87);
	background: #fff;
	border-radius:0;
	border-bottom: 2px solid rgba(0,0,0,0.12);
}
nav > div a.nav-item.nav-link.active {
    color: #026165 !important;
    border-bottom: 2px solid #026165;
}
.tab-content{
	line-height: 25px;
	padding: 30px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus {
	color: #026165 !important;
	transition:background 0.20s linear;
}