<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>CVIT</title>

	<!-- font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=vietnamese" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&amp;subset=vietnamese" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="../../assets/css/style.css">
</head> <!-- end head -->
<body>
	<div class="fix-phai">
		<a href="#" class="btn len-tren"><i class="fa fa-chevron-up"></i></a>
		<!-- <a href="" class="btn xuong-duoi"><i class="fa fa-chevron-down"></i></a> -->
	</div>
	<div class="container-fluid phan-1">
		<img src="../../assets/img/3.jpg" alt="" class="layer-1">
		<div class="layer-2"></div>
		<div class="layer-3">
			<i class="fa fa-graduation-cap" style="font-size:80px;"></i>
			<h2>LÊ THỊ DIỄM PHƯỢNG</h2>
			<h1>KỸ THUẬT PHẦN MỀM</h1>
			<p>Tôi là một chuyên gia tự do hoàn toàn tự do Sáng tạo Giao diện người dùng Nhà thiết kế và Nhà phát triển Liên quan với thiết kế web mới nhất và công nghệ là tuyệt vời cảm thấy liên lạc với sáng tạo.</p>
		</div>
	</div> <!-- hết phan-1 -->
	<div class="phan-2">
		<div class="container">
			<div class="row">
				<div class="col-md-12 tieu-de">
					<h2>Giới thiệu về tôi</h2>
				</div>
				<div class="col-md-5 anh">
					<div class="khung-anh">
						<img src="../../assets/img/4.jpg" alt="">
					</div>
				</div>
				<div class="col-md-7 content">
					<p><span>Họ và tên:</span><small class="ho-ten">LÊ THỊ DIỄM PHƯỢNG</small></p>
					<p><span>Ngày sinh:</span>1997-01-22</p>
					<p><span>Giới tính:</span>Nữ</p>
					<p><span>Địa chỉ:</span>Cần Thơ</p>
					<p><span>Quốc tịch:</span>Việt Nam</p>
					<p><span>Phone:	</span>376404446</p>
					<p><span>Email:</span>phuong123@gmail.com</p>
					<p><span>Website:</span>https://www.facebook.com/lethidiemphuong0197</p>
				</div>
			</div>
		</div>
	</div> <!-- hết phan-2 -->
	<div id="particles-js" class="phan-3">
		<div class="container noflow">
			<div class="row">
				<div class="col-md-6">
					<div class="card hoc-van">
						<div class="card-header ">
							Trình độ học vấn
						</div>				
						<div class="card-body">
							<div class="mot-field">
								<div class="nam">2015-2019</div>
								<div class="noidung">
									<p><h6 class="td">Đại học KT-CN Cần Thơ</h6></p>
									<p>Tốt nghiệp loại giỏi</p>
								</div>
							</div> <!-- end 1 field -->
						</div>
					</div>
				</div> <!-- end 1 card -->	
				<div class="col-md-6">
					<div class="card chung-chi">
						<div class="card-header ">
							Chứng chỉ
						</div>
						<div class="card-body">
							<div class="mot-field">
								<div class="nam">2017</div>
								<div class="noidung">
									<p>Chứng chỉ anh văn B1</p>
								</div>
							</div> <!-- end 1 field -->
							<?php } ?>
						</div>
					</div>
				</div> <!-- end 1 card -->
				<div class="col-md-6">
					<div class="card giai-thuong">
						<div class="card-header ">
							Giải thưởng
						</div>
						<div class="card-body">
							<div class="mot-field">
								<div class="nam">2018</div>
								<div class="noidung">
									<p>Học bổng học tập</p>
								</div>
							</div> <!-- end 1 field -->
						</div>
					</div>
				</div> <!-- end 1 card -->
				<div class="col-md-6">
					<div class="card hoat-dong">
						<div class="card-header ">
							Hoạt động
						</div>
						<div class="card-body">
							<div class="mot-field">
								<div class="nam">2019</div>
								<div class="noidung">
									<p><h6>Nhóm tình nguyện hè..</h6></p>
									<p>Đây là noi_dung</p>
								</div>
							</div> <!-- end 1 field -->
						</div>
					</div>
				</div> <!-- end 1 card -->		
			</div>
			<script src='https://cldup.com/S6Ptkwu_qA.js'></script>
			<script  src="../assets/js/particle.js"></script>
		</div>
	</div><!-- hết phan-3 -->
	<div class="phan-4">
		<div class="container">
			<div class="row">
				<div class="ke-doc">
					<!-- <div class="hinh-tron top"></div> -->
					<div class="hinh-tron mid-1"></div>
					<div class="hinh-tron mid-2"></div>
					<div class="hinh-tron mid-3"></div>
					<!-- <div class="hinh-tron bottom"></div> -->
				</div>

				<div class="col-md-6 so-thich">
					<div class="card w-75 float-right mr-5">
						<div class="hinh-vuong"></div>
						<div class="card-body">
							<h5 class="card-title">SỞ THÍCH</h5>

							<div class="noidung">
								<div class="mot-tin">
									<i class="fa fa-check-circle"></i>
									<span class="td">Shopping</span> <br>
								</div> <!-- hết mot-tin -->
								<div class="mot-tin">
									<i class="fa fa-check-circle"></i>
									<span class="td">Đọc sách</span> <br>
								</div> <!-- hết mot-tin -->
							</div>
							
						</div>
					</div>
				</div> <!-- hết so-thich -->
				<div class="col-md-6 ky-nang ">

					<div class="card w-75 float-left ml-5">
						<div class="hinh-vuong"></div>
						<div class="card-body">
							<h5 class="card-title">KỸ NĂNG</h5>
							<div class="noidung">
								<div class="mot-tin">
									<i class="fa fa-check-circle"></i>
									<span class="td">HTML</span>
								</div> <!-- hết mot-tin -->
								<div class="mot-tin">
									<i class="fa fa-check-circle"></i>
									<span class="td">Css</span>
								</div> <!-- hết mot-tin -->
							</div>
						</div>
					</div>
				</div> <!-- hết so-thich -->
				<div class="col-md-6 kinh-nghiem ">
					<div class="card w-75 float-right mr-5">
						<div class="hinh-vuong"></div>
						<div class="card-body">
							<h5 class="card-title">KINH NGHIỆM</h5>
							<div class="noidung">
								<div class="mot-tin">
									<span class="nam">Hè 2017</span>
									<span class="td">Thực tập thực tế</span>
									<span class="chitiet">Thực tập ở vị trí Nhân viên SEO ở công ty Cổ phần đầu tư Mua Hàng Tại Nhà</span>
								</div> <!-- hết mot-tin -->
								<div class="mot-tin">
									<span class="nam">Hè 2018</span>
									<span class="td">Thực tập thực tế</span>
									<span class="chitiet">Thực tập ở vị trí Nhân viên SEO ở công ty Cổ phần đầu tư Mua Hàng Tại Nhà</span>
								</div> <!-- hết mot-tin -->
							</div>
						</div>
					</div>
				</div> <!-- hết kinh-nghiem -->
			</div>
		</div>
	</div> <!-- hết phan-4 -->
	<div class="phan-5">
		<div class="container">
			<div class="row">
				<div class="col-md-12 tieu-de">
					<h2>DỰ ÁN</h2>
					<h5>Rainway Group</h5>
					<span>(2016-2017)</span>
				</div>

				<div class="col-md-12">
					<table class="table table-bordered w-75 m-auto">
						<tbody>
							<tr>
								<th>Mô tả</th>
								<td>
									<p><- Ứng dụng mobile giúp mọi người đặt vé nhanh chóng bất kì lúc nào, bất kì nơi đâu.</p>
								</td>
							</tr> <!-- hết 1 row -->
							<tr>
								<th>Số lượng thành viên</th>
								<td>8</td>
							</tr> <!-- hết 1 row -->
							<tr>
								<th>Vị trí trong công việc</th>
								<td>Lập trình viên</td>
							</tr> <!-- hết 1 row -->
							<tr>
								<th>Vai trò trong dự án</th>
								<td>
									<p>- Phân tích và thiết kế hệ thống, phát triển module, tối ưu code, sửa lỗi</p>
								</td>
							</tr> <!-- hết 1 row -->
							<tr>
								<th>Công nghệ sử dụng</th>
								<td>
									<p>- Android Studio 1.4, Java, Android 4.0; Google Could Message</p>

								</td>
							</tr> <!-- hết 1 row -->
						</tbody>
					</table>
				</div>
				<div class="col-md-12">
					<center>
						<a href="" class="btn btn-outline-success" >Chấp nhận</a>
						<a href="" class="btn btn-outline-secondary" >Từ chối</a>
					</center>
				</div>
			</div>
		</div>
	</div> <!-- 5 -->
	
</body>
</html>